<div class="dashboard-container">
    <header class="dashboard-header">
      <h2>Welcome, Institution Representative</h2>
      <nav class="dashboard-nav">
        <button routerLink="register" routerLinkActive="active">Register Institution</button>
        <button routerLink="purchase" routerLinkActive="active">Purchase Credits</button>
        <button routerLink="users" routerLinkActive="active">User Management</button>
        <button routerLink="view-grades" routerLinkActive="active">View Grades</button>
      </nav>
    </header>
  
    <section class="dashboard-content">
      <router-outlet></router-outlet>
    </section>
  </div>